.reportDisplayContainer{
    display: flex;
   gap: 10px;
}
.reportcardContainer{
    padding: 10px;
    flex: 1;
}
.viewResultsHeading{
   display: flex;
   align-items: center;
   gap: 10px;
}

.viewResultsHeading p {
    flex :1
}
.scenarioTestTable{
    width: 90vw !important
}